###################
# Compiled Source #
###################
*.pyc
*.pyo

###################
# Temporary Files #
###################
*~

###################
# Developer Notes #
###################
outputs/
notes/
#*.txt

######################
# Verification Files #
######################

######################
# Hidden files except#
# .gitignore         #
######################
.*
!/.gitignore
